body{
    background: rgba(9, 108, 189, 0.612);
    font-size: 20px;
    font-style: normal;
    color: bisque;
}
h1{
    color: rgb(222, 174, 0);
    text-align: center;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.355);
}
.imagens{
    border-radius: 5px;
    box-shadow: 10px 4px 100px rgba(255, 255, 255, 0.446);
}
#bom_dia{
    text-align: center;
}
#texto{
    border-radius: ;
}